body {
 border: 1px solid black;
 width: 98.8vw;
 height: 97.5vh;
 position: relative;
 display: flex;
}

#howToPlay {
    margin-top: 2%;
    margin-left: 2%;
    padding: 10px;
    background-color: white;
    height: auto;
    width: 25%;
    border: 1px solid white;
    border-radius: 13px;

}

.title {
    color: rgb(240, 56, 56);
}

.sub-title {
    font-size: 14px;
}

.double {
    color:rgb(101, 101, 226);
    height: 12%;
}

#card1 {
    position: absolute;
    color: black;
    border: 1px solid rgb(207, 202, 202);
    background-color: rgb(230, 230, 230);
    border-radius: 10%;
    height: 10%;
    width: 4%;
    margin-left: 20px;
}


#card2 {
    color: black;
    position: absolute;
    border: 1px solid rgb(207, 202, 202);
    border-radius: 10%;
    background-color: rgb(230, 230, 230);
    height: 10%;
    width: 4%;
    margin-left: 55px;
}

#card3 {
    color: black;
    position: absolute;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(119, 226, 119);
    height: 10%;
    width: 4%;
    margin-left: 93px;
}

#card4 {
    color: black;
    position: absolute;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(119, 226, 119);
    height: 10%;
    width: 4%;
    margin-left: 133px;
}

#cardValue {
    font-size: 30px; 
    margin-top: 5px;
    margin-left: 10px;
}

.sandwich {
    color: rgb(101, 101, 226);
    height: 12%;
}


#card2s {
    position: absolute;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(119, 226, 119);
    height: 10%;
    width: 4%;
    margin-left: 55px;
}

#card3s {
    position: absolute;
    border: 1px solid rgb(207, 202, 202);
    border-radius: 10%;
    background-color: rgb(230, 230, 230);
    height: 10%;
    width: 4%;
    margin-left: 93px;
}

.face {
    color: rgb(101, 101, 226);
}

.face-1 {
    font-size: 18px;
}

#card3f {
    position: absolute;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(245, 117, 117);
    height: 10%;
    width: 4%;
    margin-left: 93px;
}

#card4f {
    position: absolute;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(245, 117, 117);
    height: 10%;
    width: 4%;
    margin-left: 133px;
}

.rule-penalty {
    margin-top: 150px;
}

.background {
    z-index: -1;
    position: absolute;
    width: inherit;
    height: inherit;
}
#cardTable {
    position: relative;
    margin-left: 7%;
    margin-top:  50px;
    max-width: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.comp2-container {
    position: relative;
    width: 150px;
    height: 180px;
}

#comp2Pile {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 22%;
    width: auto;
    z-index: 60;
    color: white;
}

.midTableSpan {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
}

.comp1-container {
    position: relative;
    width: 23%;
    height: 68%;
    margin-top: 0%;
    margin-left: 2.5%;
}

#comp1Pile {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin-top: -2%;
    margin-left: 29%;
    z-index: 60;
    color: white;
}

.mid-container {
    position: relative;
    width: 35%;
    height: 100%;
    margin: auto;
}

#mainPile {
    position: absolute;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.comp3-container {
    position: relative;
    width: 23%;
    height: 68%;
    margin-right: 2.5%;
    margin-top: 0%;
}

#comp3Pile {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin-top: -2%;
    margin-left: 29%;
    width: auto;
    z-index: 60;
    color: white;
}

.player-container {
    position: relative;
    width: 20%;
    height: 25%;
    margin-bottom: 5px;
}

#playerInfoContainer {
    position: absolute;
    font-size: 30px;
    margin-left: 12%;
    width: auto;
    z-index: 60;
    color: white;
}

#playerhand {
    position: absolute;
    max-width: 200px;
    margin-top: -200px;
    margin-left: -30px;
    z-index: 100;
    visibility: hidden;
}

#comphand1 {
    position: absolute;
    max-width: 200px;
    margin-top: -10px;
    margin-left: 190px;
    z-index: 100;
    visibility: hidden;
}

#comphand2 {
    position: absolute;
    max-width: 200px;
    margin-top: 160px;
    margin-left: -30px;
    z-index: 100;
    visibility: hidden;
}

#comphand3 {
    position: absolute;
    max-width: 200px;
    margin-top: -10px;
    margin-left: -190px;
    z-index: 100;
    visibility: hidden;
}

#playerPile {
    position: absolute;
    appearance: none;
    margin-top: -8%;
    margin-left: -8%;
    width: 120%;
    height: 120%;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    border: none;
    outline: none;
}


/*  Below is for Player Pile ~~~~~~ */




/* changed top to bottom  */
.vertical.flip-container0 {
    position: absolute;
    bottom: 3%;
    z-index: 1;
}

.img-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 20px;
}

.backCardV {
    margin-top: -40%;
    margin-left: -21%;
    width: 240px;
    height: 350px;

    object-position: center;
}

.flip-container0 {
    perspective: 1000px;
}

.flip-container0 {
    width: 22%;
    height: 28%;
}

/* flip speed goes here */
.flipper0 {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front0, .back0 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

/* front pane, placed above back */
.front0 {
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* back, initially hidden pane */
/*  change this for end position  */
.back0 {
    position: absolute;
    transform: rotateX(-180deg);
    background-color: white;
    animation: toFront 0.3s linear normal forwards;
    border: 1px solid black;
    border-radius: 20px;
    bottom: -46%;
    text-align: center;
    margin: auto;
}


.vertical.flip-container0 .flipper0 {
    transform-origin: 100% 0px; /* half of height */
}



/*  Below is for Computer 2 Pile ~~~~~~ */



/* changed top to bottom  */
.vertical.flip-container2 {
    position: absolute;
    top: 25px;
    z-index: 1;
    transform: rotate(180deg);
}

.flip-container2 {
    perspective: 1000px;
}

.flip-container2, .front2, .back2 {
    width: 170px;
    height: 200px;
}

/* flip speed goes here */
.flipper2 {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front2, .back2 {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

/* front pane, placed above back */
.front2 {
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* back, initially hidden pane */
/*  change this for end position  */
.back2 {
    position: absolute;
    transform: rotateX(-180deg);
    background-color: white;
    animation: toFront 0.3s linear normal forwards;
    border: 1px solid black;
    border-radius: 20px;
    top: 40px;
    text-align: center;
    margin: auto;
}

.vertical.flip-container2 .flipper2 {
    transform-origin: 0% 0%; /* half of height */
}





/* Computer 1 below~~~~~ */

/* changed top to bottom  */
.horizontal.flip-container1 {
    position: absolute;
    top: 36%;
    left: 3%;
    z-index: 1;
    transform: rotate(270deg);
}


.backCardH {
    margin-top: -65px;
    margin-left: -35px;
    width: 240px;
    height: 350px;

    object-position: center;
}

.flip-container1 {
    perspective: 1000px;
    width: 22%;
    height: 28%;

}

/* flip speed goes here */
.flipper1 {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front1, .back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

/* front pane, placed above back */
.front1 {
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* back, initially hidden pane */
/*  change this for end position  */
.back1 {
    position: absolute;
    transform: rotateY(-180deg);
    background-color: white;
    animation: toFront 0.3s linear normal forwards;
    border: 1px solid black;
    border-radius: 20px;
    top: -72px;
    text-align: center;
    margin: auto;
}


.horizontal.flip-container1 .flipper1 {
    transform-origin: 0% 200px; /* half of height */
}

/* below is for computer 3 !~~~~~ */


/* changed top to bottom  */
.horizontal.flip-container3 {
    position: absolute;
    top: 36%;
    right: 3%;
    z-index: 1;
    transform: rotate(90deg);
}


.flip-container3 {
    perspective: 1000px;
}

.flip-container3, .front3, .back3 {
    width: 170px;
    height: 200px;
}

/* flip speed goes here */
.flipper3 {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front3, .back3 {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

/* front pane, placed above back */
.front3 {
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* back, initially hidden pane */
/*  change this for end position  */
.back3 {
    position: absolute;
    transform: rotateY(-180deg);
    background-color: white;
    animation: toFront 0.3s linear normal forwards;
    border: 1px solid black;
    border-radius: 20px;
    bottom: -62px;
    text-align: center;
    margin: auto;
}


.horizontal.flip-container3 .flipper3 {
    transform-origin: 0% 200px; /* half of height */
}